body {
  background-color: #201B2F !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p, h1 {
  color: #ebebeb;
}

form {
  position: relative;
}

.form-label, .form-check-label {
  color: #F7911D;
  margin-left: 12px;
}

.auth-container .form-control,
.project-form-container .form-control {
  background-color: #1B1727;
  border: none;
  border-radius: 100px;
  padding-left: 16px;
  height: 48px;
  color: #ebebeb;
}

.auth-container .form-control:focus,
.project-form-container .form-control:focus {
  background-color: #1B1727;
  box-shadow: 0 0 0 2px rgba(110, 110, 238, 0.5);
  border: none;
  color: #ebebeb;
}

.form-group {
    margin-bottom: 32px !important;
}

.form-check {
    margin-bottom: 0 !important;
    margin-left: 12px;
    height: 32px;
    display: flex !important;
    align-items: center;
}

.form-check-input {
    align-self: baseline;
    height: 24px !important;
    width: 24px !important;
}

.form-check-input:checked {
    background-color: #6E6EEE !important;
    border-color: #6E6EEE !important;
}

.form-check-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.form-control.is-invalid {
  background-image: none !important;
}

.invalid-feedback {
  margin-left: 12px;
}

.auth-container button,
.project-form-container button {
  margin: 0 auto;
  display: block;
  border-radius: 100px;
  background-color: #6E6EEE !important;
  width: 200px;
  border: none;
}

.auth-container button:hover,
.project-form-container button:hover {
  background-color: #6E6EEE;
}

.auth-container button:focus,
.auth-container button:active,
.project-form-container button:focus,
.project-form-container button:active {
  border: none;
  box-shadow: none !important;
  background-color: #6E6EEE;
}
