.auth-container {
    margin: 0 auto;
    width: 90%;
}

.auth-container form {
    position: relative;
}

.auth-container img {
    width: 200px;
    display: block;
    margin: 32px auto;
}

#auth-spinner {
    height: 32px;
    width: 32px;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    color: #6E6EEE;
}

/* sm breakpoint */
@media only screen and (min-width: 576px) {
    .auth-container {
        width: 400px;
    }
}