.mint-reminder-modal .modal-dialog {
    width: 600px;
    max-width: 600px;
}

.mint-reminder-modal .modal-content {
    background-color: #17151F !important;
    border-radius: 32px !important;
}

.mint-reminder-modal .modal-header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.mint-reminder-modal .modal-title {
    color: #EBEBEB;
    font-weight: 600;
    font-size: 20px;
}

.mint-reminder-modal .subtitle {
    color: #484065;
    font-size: 14px;
    width: 70%;
    text-align: center;
}

.mint-reminder-modal .modal-body {
    width: 85%;
}

.mint-reminder-modal .form-group {
    margin-bottom: 0px !important;
    width: 100%;
}

.mint-reminder-modal .custom-button {
    height: 48px;
    width: 250px;
    margin-left: 16px;
    margin-right: 0px;
}